/**
 * @package FIF.
 **/

/*
	FIF Variables
	------------------------------------------------
*/

// FIF Custom Colors
$primarycolor:	#000000;
$darkgrey: 			#333333;
$lightgrey: 		#898989;
$ligtergrey:		#f1f5f5;
$color-fg-bold:				#545454;
$color-border:				rgba(144,144,144,0.25);
$color-border-bg:			rgba(144,144,144,0.075);
$color-border2-bg:			rgba(144,144,144,0.2);
$color-border-menu:			rgba(144,144,144,0.6);

// FIF Shops
$shop-active-link:			rgba(255, 128, 0,0.5);
